mixin selectTree(category, level=1)
  each item in category
    - const prefix = Array(level).join("--")
    option(value=item.id) #{prefix}#{item.title}
    if item.children && item.children.length > 0
      +selectTree(item.children, level + 1)
