extends ../../layout/default.pug
include ../../mixins/box-header.pug
include ../../mixins/tableTree.pug

block main
  +boxHeader('Danh Sách danh mục')

  .container.mt-4
    h1.text-center.text-primary Danh Mục
    a(
      href=`${prefixAdmin}/product-category/create`
      class="btn btn-outline-success float-right"
    ) Thêm mới

    table.table
      thead
        tr
          th(scope="col") Chọn
          th(scope="col") STT
          th(scope="col") Tên danh mục
          th(scope="col") Hình ảnh
          th(scope="col") Mô Tả
          th(scope="col") Trạng thái
          th(scope="col") Vị Trí
          th(scope="col") Hành động

      tbody.table-group-divider
        +tableTree(category)
          
        form#deleteCourseForm(method="POST" action="" data-path=`${prefixAdmin}/product-category/delete` name="delete-courses-form")
          input(type="hidden" name="courseId" id="courseId")
          input(type="hidden" name="courseName" id="courseName")
