include ../mixins/submenu.pug

header.navbar.navbar-dark.bg-dark
  .container
    a.navbar-brand(href="#") Pham Xuan Son
    nav
      ul.nav
        li.nav-item
          a.nav-link(href="/") Trang chủ

        li.nav-item.dropdown
          - const pathProduct = "/product";
          a.nav-link.dropdown-toggle(href=pathProduct id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")
            | Sản phẩm
          .dropdown-menu
            +sub-menu(layoutCategory, pathProduct)
